<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SimpleServletProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>xmlServlet</servlet-name>
    <servlet-class>by.minsler.web.XmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xmlServlet</servlet-name>
    <url-pattern>/xmlservletpath</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>by.minsler.web.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/helloservletpath</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SimpleSessionServlet</servlet-name>
  	<servlet-class>by.minsler.web.SimpleSessionServlet</servlet-class>
  	<init-param>
  		<param-name>defaultUser</param-name>
  		<param-value>Циванюк Василий</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SimpleSessionServlet</servlet-name>
  	<url-pattern>/session</url-pattern>
  </servlet-mapping>
  
</web-app>